*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./assets/background.png) no-repeat fixed;
    background-size: cover;
}

#wrap{
    width: 1440px;
    height: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#header{
    width: 1440px;
    height: 80px;
    background-color: rgb(51, 50, 50, .95);
    border-bottom: 6px solid  rgb(167, 73, 73);
    display: flex;
    justify-content: end;
}
.push{
    height: 120px;
}
form{
    padding: 20px 50px 0 0;
}
input{
    text-align: center;
}
#center{
    width: 1440px;
    height: 480px;
    background-color: rgba(21, 24, 21, 0.3);
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 20px 0;
}
.btn{
    opacity: .8;
}
#slideshow{
    position: relative;
    width: 778px;
    height: 480px;
    overflow: hidden;
}
#slideshow img{
    width: 778px;
    height: 480px;
    display: none;
    position: absolute;
}
#slideshow img:first-child{
    display: inline;
}
.slideshow{
    overflow: hidden;
}
.sliderBody{
    background-color: rgba(10, 12, 10, 0.75);
    transform: translateY(-80px);
    color: snow;
    width: 778px;
    height: 240px;
}
.sliderBody h2{
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.sliderBody p{
    display: none;
    height: 240px;
    color: seashell;
    text-align: center;
}
#world_preview{
    width: 1440px;
    height: 300px;
    border-top: 6px solid  rgb(167, 73, 73);
    background-color: rgba(10, 12, 10, 0.75);
    padding: 0 20px;
}
#descrip{
    width: 1440px;
    background-color: rgb(0, 0, 0, .65);
}
#descrip div{
    display: none;
    height: 400px;
    color: blanchedalmond;
    padding: 20px;
}
.preview{
    width: 335px;
    height: 280px;
    background-color: blueviolet;
}
#world_preview img{
    width: 335px;
    height: 280px;
    display: none;
    position: absolute;
}
#world_preview img:first-child{
    display: inline;
}
.flexing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.push{
    height: 120px;
}
#footer{
    background-color: rgb(51, 50, 50, .95);
    border-top: 8px solid  rgb(167, 73, 73);
    color: seashell;
    font-size: 10pt;
    line-height: 120px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footer p{
    margin-bottom: -16px;
}